<div id="tokenHotBar" class="tokenHotBar">
  <h4> 
    {{characterName}}
    <i class="fas fa-cog settings"></i>
    <div class="settings-menu">
      <ul class="fa-ul">
        <li class="showNonWielded">
            <span class="fa-li fa">
              <i class="{{#if showNonWielded}}fas fa-check-square {{else}}far fa-square{{/if}}"></i> 
            </span>
            Show unwielded
        </li>
        <li class="showEquipment">
          <span class="fa-li fa">
            <i class="{{#if showEquipment}}fas fa-check-square {{else}}far fa-square{{/if}}"></i>
          </span>
          Show equipment
      </li>
      </ul>
    </div>
  </h4>
  <ol class="flexrow macro-list">
    {{#each macros}}
    <li class="macro {{#if sheetMacro}} sheetMacro {{/if}} {{#if notEquipped}} unequipped {{/if}} tooltip fast" data-index={{@index}}>
      <img src="{{img}}" alt="{{name}}">
      <span class="tooltip-text">{{name}}</span>
    </li>
    {{/each}}
  </ol>
  

</div>