<form class="{{cssClass}}" autocomplete="off">
  <div class="dialoguePane">
    
    
    
    <ul>
      {{#each ammoList as |item iid|}}
        <li class="button selectAmmo" data-item-id="{{item._id}}"> 
          <div class="item-image" style="background-image: url({{item.img}})"></div>
          <span> {{item.name}} </span>
        </li>
      {{/each}}
    </ul>
    

  </div>
</form>

