<form class="{{cssClass}}" autocomplete="off">
  <div class="dialoguePane">
    <div class="flex-column">
      <div class="items-block">
        <div class="items-table progress-list">
          <table class="item-table">
            <tr class="item-row header">
              <th class="cell header first"> Reason </th>
                <th class="cell header"> Beats </th>
                {{#if isMage}} <th class="cell header"> Arcane Beats </th> {{/if}}
                <th class="cell header"> </th>
            </tr>
            {{#each progress as |item iid|}}
              <tr class="item-row">
                <td class="cell first {{#if @last}} lastRow {{/if}}"> {{item.name}}</td>
                <td class="cell {{#if @last}} lastRow {{/if}}"> {{#if item.name}} {{item.beats}} {{/if}}</td>
                {{#if ../isMage}} <td class="cell {{#if @last}} lastRow {{/if}}"> {{#if item.name}} {{item.arcaneBeats}} {{/if}}</td> {{/if}}
                <td class="cell edit-delete {{#if @last}} lastRow {{/if}}" data-index="{{@index}}">
                  {{#if item.name}} {{#unless (isInitiall @index)}} <span class="button stoneButton item-delete" data-index="{{@index}}" title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span> {{/unless}} {{/if}}
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>
    </div>
  </div>
</form>

