<form class="{{cssClass}}" autocomplete="off">

  <div class="characterSheet">

    {{!-- Sheet Header --}}
    <!-- Column #1 -->
    <div class="sheet-header stats">

      <!-- Column #1-->
      <div class="portrait">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}">
      </div>

      <!-- Column #2 -->
      <div>
        <!-- Row #1 -->
        <h1 class="character-name"><input type="text" name="name" value="{{actor.name}}" placeholder="Name"> </h1>

        <!-- Row #2 -->
        <div class="bottomCharaBlock">
          <div class="kInput statBox big health">
            <h4>
              <div class="button charMacroButton calculate health tooltip">
                <span class="tooltip-text">{{ localize "MTA.TooltipCalcMaxHealth" }}</span>
                <img src="systems/mta/icons/gui/calculate.svg" alt="Calculate max. health.">
              </div>
              {{ localize "MTA.Health" }}
            </h4>
            <div class="gold-border"> </div>
            <div class="kMageTracker" data-type="health" data-name="data.health" data-states="max/value/lethal/aggravated" data-marked="{{data.health.marked}}" data-max={{data.health.max}} data-aggravated={{data.health.aggravated}} data-lethal={{data.health.lethal}} data-value={{data.health.value}}></div>
          </div>

          <div class="kInput statBox big">
            <h4>
              <input class="attribute-check" id="Willpower{{actor._id}}" data-attribute="willpower" data-attributeValue={{data.willpower.max}} data-attributeLabel="Willpower" type="checkbox" data-dtype="Boolean">
              <label class="button attribute-button" for="Willpower{{actor._id}}">{{ localize "MTA.Willpower" }}</label>
            </h4>
            <div class="gold-border"> </div>
            <div class="split">
              <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                <input name="data.willpower.value" type="number" value="{{data.willpower.value}}" data-dtype="Number">
                <div class="numBtns">
                  <div class="plusBtn">+</div>
                  <div class="minusBtn">−</div>
                </div>
              </div>
              <span class="delimiter"> / </span>
              <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                <input name="data.willpower.max" type="number" value="{{data.willpower.max}}" data-dtype="Number">
                <div class="numBtns">
                  <div class="plusBtn">+</div>
                  <div class="minusBtn">−</div>
                </div>
              </div>
            </div>
          </div>
          {{#if (eq data.characterType "Mage")}}
            <div class="kInput statBox big">
              <h4>
                <input class="attribute-check" id="Wisdom{{actor._id}}" data-attribute="wisdom" data-attributeValue={{data.mage_traits.wisdom}} data-attributeLabel="{{ localize 'MTA.MageWisdom' }}" type="checkbox" data-dtype="Boolean">
                <label class="button attribute-button" for="Wisdom{{actor._id}}">{{ localize "MTA.MageWisdom" }}</label>
              </h4>
              <div class="gold-border"> </div>
              <div class="split">
                <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                  <input name="data.mage_traits.wisdom" type="number" value="{{data.mage_traits.wisdom}}" data-dtype="Number">
                  <div class="numBtns">
                    <div class="plusBtn">+</div>
                    <div class="minusBtn">−</div>
                  </div>
                </div>
              </div>
            </div>
          {{else if (eq data.characterType "Vampire")}}
            <div class="kInput statBox big">
              <h4>
                <input class="attribute-check" id="Humanity{{actor._id}}" data-attribute="humanity" data-attributeValue={{data.vampire_traits.humanity}} data-attributeLabel="{{ localize 'MTA.Humanity' }}" type="checkbox" data-dtype="Boolean">
                <label class="button attribute-button" for="Humanity{{actor._id}}">{{ localize "MTA.Humanity" }}</label>
              </h4>
              <div class="gold-border"> </div>
              <div class="split">
                <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                  <input name="data.vampire_traits.humanity" type="number" value="{{data.vampire_traits.humanity}}" data-dtype="Number">
                  <div class="numBtns">
                    <div class="plusBtn">+</div>
                    <div class="minusBtn">−</div>
                  </div>
                </div>
              </div>
            </div>
          {{else if (eq data.characterType "Changeling")}}
            <div class="kInput statBox big health">
              <h4>
                <div class="button charMacroButton calculate clarity tooltip">
                  <span class="tooltip-text">{{ localize "MTA.TooltipCalcMaxClarity" }}</span>
                  <img src="systems/mta/icons/gui/calculate.svg" alt="Calculate max. clarity.">
                </div>
                <input class="attribute-check" id="Clarity{{actor._id}}" data-attribute="clarity" data-attributeValue={{data.clarity.value}} data-attributeLabel="{{ localize 'MTA.ChangelingClarity' }}" type="checkbox" data-dtype="Boolean">
                <label class="button attribute-button" for="Clarity{{actor._id}}">{{ localize "MTA.ChangelingClarity" }}</label>
              </h4>
              <div class="gold-border"> </div>
              <div class="kMageTracker clarity" data-type="clarity" data-name="data.clarity" data-states="max/value/severe" data-max="{{data.clarity.max}}" data-severe="{{data.clarity.severe}}" data-value="{{data.clarity.value}}"></div>
            </div>
          {{else if (eq data.characterType "Werewolf")}}
            <div class="kInput statBox big">
              <h4>
                <input class="attribute-check" id="Harmony{{actor._id}}" data-attribute="harmony" data-attributeValue={{data.werewolf_traits.harmony}} data-attributeLabel="{{ localize 'MTA.WerewolfHarmony' }}" type="checkbox" data-dtype="Boolean">
                <label class="button attribute-button" for="Harmony{{actor._id}}">{{ localize "MTA.WerewolfHarmony" }}</label>
              </h4>
              <div class="gold-border"> </div>
              <div class="split">
                <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                  <input name="data.werewolf_traits.harmony" type="number" value="{{data.werewolf_traits.harmony}}" data-dtype="Number">
                  <div class="numBtns">
                    <div class="plusBtn">+</div>
                    <div class="minusBtn">−</div>
                  </div>
                </div>
              </div>
            </div>
          {{else}}
            <div class="kInput statBox big">
              <h4>
                <input class="attribute-check" id="Integrity{{actor._id}}" data-attribute="integrity" data-attributeValue={{data.integrity}} data-attributeLabel="Integrity" type="checkbox" data-dtype="Boolean">
                <label class="button attribute-button" for="Integrity{{actor._id}}">{{ localize "MTA.Integrity" }}</label>
              </h4>
              <div class="gold-border"> </div>
              <div class="split">
                <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                  <input name="data.integrity" type="number" value="{{data.integrity}}" data-dtype="Number">
                  <div class="numBtns">
                    <div class="plusBtn">+</div>
                    <div class="minusBtn">−</div>
                  </div>
                </div>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </div>

    {{!-- Sheet Side --}}
    <div class="conditions">
      <div class="character-type">
        <span class="tooltip left">
          <span class="tooltip-text">{{ localize "MTA.TooltipTypeVisible" }}</span>
          <label class="equipped checkBox">
            <input data-dtype="Boolean" name="data.isTypeKnown" type="checkbox" {{checked data.isTypeKnown}}>
            <span></span>
          </label>
        </span>
        <select name="data.characterType">
          {{#select data.characterType}}
            {{#each config.characterTypes}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>
      <!-- Block #1 -->
      <div class="expBox">
        <div>
          <div class="button charMacroButton progress tooltip">
            <span class="tooltip-text">{{ localize "MTA.TooltipProgressMenu" }}</span>
            <img src="systems/mta/icons/gui/progress-menu.svg" alt="Open progress menu.">
          </div>
          <div>
            <div class="exp-header">{{localize "MTA.Beats" }}</div>
            <input class="attribute-value borderInput disabled" type="number" name="beats_computed" value={{beats_computed}} disabled/>
          </div>
          <div>
            <div class="exp-header">{{localize "MTA.Exp" }}</div>
            <input class="attribute-value borderInput disabled" type="number" name="experience_computed" value={{experience_computed}} disabled/>
          </div>
        </div>
        {{#if (eq data.characterType "Mage")}}
          <div>
            <div style="width:32px;min-width:32px"></div>
            <div>
              <div class="exp-header">{{localize "MTA.ArcBeats" }}</div>
              <input class="attribute-value borderInput disabled" type="number" name="arcaneBeats_computed" value={{arcaneBeats_computed}} disabled/>
            </div>
            <div>
              <div class="exp-header">{{localize "MTA.ArcExp" }}</div>
              <input class="attribute-value borderInput disabled" type="number" name="arcaneExperience_computed" value={{arcaneExperience_computed}} disabled/>
            </div>
          </div>
        {{/if}}
      </div>


      <!-- Block #2 -->
      <div class="kInput statBox">
        <h4> {{ localize "MTA.DerivedTraits" }}</h4>
        <div class="gold-border"> </div>
        <div class="armourGrid">
          {{#each config.derivedTraits as |cvalue ckey|}}
          {{#with (lookup ../data.derivedTraits [ckey])}}
            <span>
              <input class="attribute-check" id="{{cvalue}}{{../../actor._id}}" data-attribute="{{ckey}}" data-attributeValue={{chooseNum final value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
              <label class="button attribute-button" for="{{cvalue}}{{../../actor._id}}">{{cvalue}}</label>
            </span>
            <input class="{{#if (isInteger final)}}{{posneg final value}}{{/if}}" value={{chooseNum final value}} disabled>
            <div class="niceNumber digits2" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
              <input name="data.derivedTraits.{{ckey}}.mod" type="text" placeholder="0" data-dtype="Number" value="{{numberFormat mod decimals=0 sign=true}}" min=-99 max=99>
              <div class="numBtns">
                <div class="plusBtn">+</div>
                <div class="minusBtn">−</div>
              </div>
            </div>
          {{/with}}
          {{/each}}
        </div>
      </div>
      <div class="items-block">
        <div class="items-table">
          {{!-- Merits --}}
          <table class="item-table">
            <thead>
              <tr class="item-row header">
                <th class="cell header first"> 
                  <span class="collapsible button fas fa-minus-square"> </span>
                  <span class="sortable button" data-type="merit">{{ localize "MTA.Merits" }}<i class="fas fa-sort"></i> </span>
                </th>
                {{#each inventory.merit.dataset}}
                  <th class="cell header"> {{this}} </th>
                {{/each}}
                <th class="cell header button item-create" data-type="merit">{{ localize "MTA.ButtonAdd" }}</th>
              </tr>
            </thead>
            <tbody>
              {{#each inventory.merit.items as |item iid|}}
                <tr class="item-row item" data-item-id="{{item._id}}">
                  <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
                    <div class="item-name-wrapper">
                      <div class="item-image {{#if data.effectsActive}} effectActive {{/if}}" style="background-image: url({{item.img}})"></div>
                      <span> {{item.name}} </span>
                    </div>
                  </td>
                  <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.rating}}</td>
                  <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                    <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="{{ localize 'MTA.EditItem' }}"><i class="fas fa-edit"></i></span>
                    <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="items-block">
        <div class="items-table">
          {{!-- Conditions --}}
          <table class="item-table">
            <thead>
              <tr class="item-row header">
                <th class="cell header first"> 
                  <span class="collapsible button fas fa-minus-square"> </span>
                  <span class="sortable button" data-type="condition">{{ localize "MTA.Conditions" }}<i class="fas fa-sort"></i> </span>
                </th>
                {{#each inventory.condition.dataset}}
                  <th class="cell header"> {{this}} </th>
                {{/each}}
                <th class="cell header button item-create" data-type="condition">{{ localize "MTA.ButtonAdd" }}</th>
              </tr>
            </thead>
            <tbody>
              {{#each inventory.condition.items as |item iid|}}
                <tr class="item-row item" data-item-id="{{item._id}}">
                  <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
                    <div class="item-name-wrapper">
                      <div class="item-image {{#if data.effectsActive}} effectActive {{/if}}" style="background-image: url({{item.img}})"></div>
                      <span> {{item.name}} </span>
                    </div>
                  </td>
                  <td class="cell {{#if @last}} lastRow {{/if}}">{{convertBool data.isPersistent}}</td>
                  {{#if (eq ../data.characterType "Changeling")}}
                    <td class="cell {{#if @last}} lastRow {{/if}}">{{convertBool data.isClarity}}</td>
                  {{/if}}
                  <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                    <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="{{ localize 'MTA.EditItem' }}"><i class="fas fa-edit"></i></span>
                    <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="items-block">
        <div class="items-table">
          {{!-- Tilts --}}
          <table class="item-table">
            <thead>
              <tr class="item-row header">
                <th class="cell header first"> 
                  <span class="collapsible button fas fa-minus-square"> </span>
                  <span class="sortable button" data-type="tilt">{{ localize "MTA.Tilts" }}<i class="fas fa-sort"></i> </span>
                </th>
                {{#each inventory.tilt.dataset}}
                  <th class="cell header"> {{this}} </th>
                {{/each}}
                <th class="cell header button item-create" data-type="tilt">{{ localize "MTA.ButtonAdd" }}</th>
              </tr>
            </thead>
            <tbody>
              {{#each inventory.tilt.items as |item iid|}}
                <tr class="item-row item" data-item-id="{{item._id}}">
                  <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
                    <div class="item-name-wrapper">
                      <div class="item-image {{#if data.effectsActive}} effectActive {{/if}}" style="background-image: url({{item.img}})"></div>
                      <span> {{item.name}} </span>
                    </div>
                  </td>
                  <td class="cell {{#if @last}} lastRow {{/if}}"> {{convertBool data.isEnvironmental}}</td>
                  <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                    <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="{{ localize 'MTA.EditItem' }}"><i class="fas fa-edit"></i></span>
                    <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="characterMacroPanel">
      <div>
        <div class="button charMacroButton rollButton tooltip">
          <span class="tooltip-text">{{ localize "MTA.TooltipSkillTest" }}</span>
          <img src="systems/mta/icons/gui/d10.svg" alt="Skill check.">
        </div>
        <div class="button charMacroButton perceptionButton tooltip">
          <span class="tooltip-text">{{ localize "MTA.TooltipPerceptionCheck" }}</span>
          <img src="systems/mta/icons/gui/perception.svg" alt="Perception check.">
        </div>
        {{#if (isProximiMage data.characterType)}}
          <div class="button charMacroButton improvisedSpellButton tooltip">
            <span class="tooltip-text">{{ localize "MTA.TooltipSpellCast" }}</span>
            <img src="systems/mta/icons/gui/macro-improvisedSpell.svg" alt="Improvised spell cast.">
          </div>
        {{/if}}
        {{#if (isMundane data.characterType)}}
          <div class="button charMacroButton breakingPointButton tooltip">
            <span class="tooltip-text">{{ localize "MTA.TooltipBreakingPoint" }}</span>
            <img src="systems/mta/icons/gui/macro-breaking-point.svg" alt="Breaking point.">
          </div>
        {{/if}}
        {{#if (eq data.characterType "Mortal")}}
          <div class="button charMacroButton dissonanceButton tooltip">
            <span class="tooltip-text">{{ localize "MTA.TooltipDissonance" }}</span>
            <img src="systems/mta/icons/gui/macro-dissonance.svg" alt="Dissonance.">
          </div>
        {{/if}}
      </div>
    </div>




    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs">
      <a class="item" data-tab="attributes">{{ localize "MTA.TabAttributes" }}</a>
      {{#if (isProximiMage data.characterType)}} <a class="item" data-tab="magic">{{ localize "MTA.TabMagic" }}</a> {{/if}}
      {{#if (eq data.characterType "Vampire")}} <a class="item" data-tab="disciplines">{{ localize "MTA.TabDisciplines" }}</a> {{/if}}
      {{#if (eq data.characterType "Changeling")}} <a class="item" data-tab="contracts">{{ localize "MTA.TabContracts" }}</a> {{/if}}
      {{#if (eq data.characterType "Werewolf")}} <a class="item" data-tab="gifts">{{ localize "MTA.TabGifts" }}</a> {{/if}}
      <a class="item" data-tab="inventory">{{ localize "MTA.TabItems" }}</a>
      <a class="item" data-tab="description">{{ localize "MTA.TabTraits" }}</a>
      {{#if (eq data.characterType "Mage")}} <a class="item" data-tab="magePersona">{{ localize "MTA.TabMageTraits" }}</a> {{/if}}
      {{#if (eq data.characterType "Vampire")}} <a class="item" data-tab="vampirePersona">{{ localize "MTA.TabVampireTraits" }}</a> {{/if}}
      {{#if (eq data.characterType "Changeling")}} <a class="item" data-tab="changelingPersona">{{ localize "MTA.TabChangelingTraits" }}</a> {{/if}}
      {{#if (eq data.characterType "Werewolf")}} <a class="item" data-tab="werewolfPersona">{{ localize "MTA.TabWerewolfraits" }}</a> {{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

      {{!-- Attributes Tab --}}
      <div class="tab attributes" data-tab="attributes">
        <div class="tab-block">
          <div class="attributes-flexrow">
            <ol class="attributes-list">
              <li class="attributes-header major flexrow">
                <span class="attribute-header">{{ localize "MTA.Physical" }}</span>
              </li>
              <li class="attributes-header flexrow">
                <span class="attribute-key">{{ localize "MTA.Attribute" }}</span>
                <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
              </li>
              {{#each config.attributes_physical as |cvalue ckey|}}
              {{#with (lookup ../data.attributes_physical [ckey])}}
                <li class="attribute flexrow" data-attribute="{{ckey}}">
                  <span>
                    <input class="attribute-check" id="attributes_physical{{cvalue}}{{../../actor._id}}" data-attribute="{{ckey}}" data-attributeValue={{chooseNum final value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
                    <label class="button attribute-button" for="attributes_physical{{cvalue}}{{../../actor._id}}">{{cvalue}}</label>
                  </span>
                  <span>
                    <span class="attribute-mod {{posneg final value}}">{{addBrackets final}}</span>
                    <input class="attribute-value" type="number" name="data.attributes_physical.{{ckey}}.value" value={{chooseNum value 0}} data-dtype="Number" min=0 max=999>
                  </span>
                </li>
                {{/with}}
              {{/each}}
            </ol>

            <ol class="attributes-list">
              <li class="attributes-header major flexrow">
                <span class="attribute-header">{{ localize "MTA.Social" }}</span>
              </li>
              <li class="attributes-header flexrow">
                <span class="attribute-key">{{ localize "MTA.Attribute" }}</span>
                <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
              </li>
              {{#each config.attributes_social as |cvalue ckey|}}
              {{#with (lookup ../data.attributes_social [ckey])}}
                <li class="attribute flexrow" data-attribute="{{ckey}}">
                  <span>
                    <input class="attribute-check" id="attributes_social{{cvalue}}{{../../actor._id}}" data-attribute="{{ckey}}" data-attributeValue={{chooseNum final value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
                    <label class="button attribute-button" for="attributes_social{{cvalue}}{{../../actor._id}}">{{cvalue}}</label>
                  </span>
                  <span>
                    <span class="attribute-mod {{posneg final value}}">{{addBrackets final}}</span>
                    <input class="attribute-value" type="number" name="data.attributes_social.{{ckey}}.value" value={{chooseNum value 0}} data-dtype="Number" min=0 max=999>
                  </span>
                </li>
                {{/with}}
              {{/each}}
            </ol>

            <ol class="attributes-list">
              <li class="attributes-header major flexrow">
                <span class="attribute-header">{{ localize "MTA.Mental" }}</span>
              </li>
              <li class="attributes-header flexrow">
                <span class="attribute-key">{{ localize "MTA.Attribute" }}</span>
                <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
              </li>
              {{#each config.attributes_mental as |cvalue ckey|}}
              {{#with (lookup ../data.attributes_mental [ckey])}}
                <li class="attribute flexrow" data-attribute="{{ckey}}">
                  <span>
                    <input class="attribute-check" id="attributes_mental{{cvalue}}{{../../actor._id}}" data-attribute="{{ckey}}" data-attributeValue={{chooseNum final value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
                    <label class="button attribute-button" for="attributes_mental{{cvalue}}{{../../actor._id}}">{{cvalue}}</label>
                  </span>
                  <span>
                    <span class="attribute-mod {{posneg final value}}">{{addBrackets final}}</span>
                    <input class="attribute-value" type="number" name="data.attributes_mental.{{ckey}}.value" value={{chooseNum value 0}} data-dtype="Number" min=0 max=999>
                  </span>
                </li>
                {{/with}}
              {{/each}}
            </ol>
          </div>

          <div class="attributes-flexrow">
            <ol class="attributes-list">
              <li class="attributes-header flexrow">
                <span class="attribute-key">{{ localize "MTA.Rote" }}</span>
                <span class="attribute-key">{{ localize "MTA.Skill" }}</span>
                <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
              </li>
              {{#each config.skills_physical as |cvalue ckey|}}
              {{#with (lookup ../data.skills_physical [ckey])}}
                <li class="attribute flexrow" data-attribute="{{ckey}}">
                  <span>
                    <label class="checkBox">
                      <input data-dtype="Boolean" name="data.skills_physical.{{ckey}}.isRote" type="checkbox" {{checked isRote}}>
                      <span></span>
                    </label>
                    <span class="button skill-specialty tooltip {{#if specialties}} available {{/if}} {{#if isAssetSkill}} asset {{/if}}"  data-attribute="{{ckey}}" data-attributetype="physical"><i class="fab fa-stripe-s"></i>
                      {{#if specialties}}<span class="tooltip-text"><ul>{{#each specialties}}<li>{{this}}</li>{{/each}}</ul></span>{{/if}}
                    </span>
                    <span>
                      <input class="attribute-check" id="skills_physical{{cvalue}}{{../../actor._id}}" data-attribute="{{ckey}}" data-category="physical" data-attributeValue={{chooseNum final value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
                      <label class="button attribute-button" for="skills_physical{{cvalue}}{{../../actor._id}}">{{cvalue}}</label>
                    </span>
                  </span>
                  <span>
                    <span class="attribute-mod {{posneg final value}}">{{addBrackets final}}</span>
                    <input class="attribute-value" type="number" name="data.skills_physical.{{ckey}}.value" value={{chooseNum value 0}} data-dtype="Number" min=0 max=999>
                  </span>
                </li>
                {{/with}}
              {{/each}}
            </ol>

            <ol class="attributes-list">
              <li class="attributes-header flexrow">
                <span class="attribute-key">{{ localize "MTA.Rote" }}</span>
                <span class="attribute-key">{{ localize "MTA.Skill" }}</span>
                <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
              </li>
              {{#each config.skills_social as |cvalue ckey|}}
              {{#with (lookup ../data.skills_social [ckey])}}
                <li class="attribute flexrow" data-attribute="{{ckey}}">
                  <span>
                    <label class="checkBox">
                      <input data-dtype="Boolean" name="data.skills_social.{{ckey}}.isRote" type="checkbox" {{checked isRote}}>
                      <span></span>
                    </label>
                    <span class="button skill-specialty tooltip {{#if specialties}} available {{/if}} {{#if isAssetSkill}} asset {{/if}}" data-attribute="{{ckey}}" data-attributetype="social"><i class="fab fa-stripe-s"></i>
                      {{#if specialties}}<span class="tooltip-text"><ul>{{#each specialties}}<li>{{this}}</li>{{/each}}</ul></span>{{/if}}
                    </span>
                    <span>
                      <input class="attribute-check" id="skills_social{{cvalue}}{{../../actor._id}}" data-attribute="{{ckey}}" data-category="social" data-attributeValue={{chooseNum final value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
                      <label class="button attribute-button" for="skills_social{{cvalue}}{{../../actor._id}}">{{cvalue}}</label>
                    </span>
                  </span>
                  <span>
                    <span class="attribute-mod {{posneg final value}}">{{addBrackets final}}</span>
                    <input class="attribute-value" type="number" name="data.skills_social.{{ckey}}.value" value={{chooseNum value 0}} data-dtype="Number" min=0 max=999>
                  </span>
                </li>
                {{/with}}
              {{/each}}
            </ol>

            <ol class="attributes-list">
              <li class="attributes-header flexrow">
                <span class="attribute-key">{{ localize "MTA.Rote" }}</span>
                <span class="attribute-key">{{ localize "MTA.Skill" }}</span>
                <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
              </li>
              {{#each config.skills_mental as |cvalue ckey|}}
              {{#with (lookup ../data.skills_mental [ckey])}}
                <li class="attribute flexrow" data-attribute="{{ckey}}">
                  <span>
                    <label class="checkBox">
                      <input data-dtype="Boolean" name="data.skills_mental.{{ckey}}.isRote" type="checkbox" {{checked isRote}}>
                      <span></span>
                    </label>
                    <span class="button skill-specialty tooltip {{#if specialties}} available {{/if}} {{#if isAssetSkill}} asset {{/if}}" data-attribute="{{ckey}}" data-attributetype="mental"><i class="fab fa-stripe-s"></i>
                      {{#if specialties}}<span class="tooltip-text"><ul>{{#each specialties}}<li>{{this}}</li>{{/each}}</ul></span>{{/if}}
                    </span>
                    <span>
                      <input class="attribute-check" id="skills_mental{{cvalue}}{{../../actor._id}}" data-attribute="{{ckey}}" data-category="mental" data-attributeValue={{chooseNum final value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
                      <label class="button attribute-button" for="skills_mental{{cvalue}}{{../../actor._id}}">{{cvalue}}</label>
                    </span>
                  </span>
                  <span>
                    <span class="attribute-mod {{posneg final value}}">{{addBrackets final}}</span>
                    <input class="attribute-value" type="number" name="data.skills_mental.{{ckey}}.value" value={{chooseNum value 0}} data-dtype="Number" min=0 max=999>
                  </span>
                </li>
                {{/with}}
              {{/each}}
            </ol>
          </div>
        </div>
      </div>


      {{!-- Magic Tab --}}
      <div class="tab magic" data-tab="magic">
        {{> "systems/mta/templates/actors/parts/mage-magic.html"}}
      </div>

      {{!-- Disciplines Tab --}}
      <div class="tab disciplines" data-tab="disciplines">
        {{> "systems/mta/templates/actors/parts/vamp-disciplines.html"}}
      </div>
      
      {{!-- Contracts Tab --}}
      <div class="tab contracts" data-tab="contracts">
        {{> "systems/mta/templates/actors/parts/changeling-powers.html"}}
      </div>
      
      {{!-- Werewolf Gifts Tab --}}
      <div class="tab gifts" data-tab="gifts">
        {{> "systems/mta/templates/actors/parts/werewolf-gifts.html"}}
      </div>

      {{!-- Item Tab --}}
      <div class="tab inventory" data-tab="inventory">
        {{> "systems/mta/templates/actors/parts/base-inventory.html"}}
      </div>


      {{!-- Traits Tab --}}
      <div class="tab description" data-tab="description">
        <div class="item-stat-block">
          <div class="form-line">
            <label> {{#if (eq data.characterType "Vampire")}} {{localize "MTA.Mask"}} {{else if (eq data.characterType "Changeling")}} {{localize "MTA.Needle"}} {{else if (eq data.characterType "Werewolf")}} {{localize "MTA.Blood"}} {{else}} {{localize "MTA.Virtue"}} {{/if}} </label> <input name="data.virtue" type="text" value="{{data.virtue}}" />
          </div>
          <div class="form-line">
            <label> {{#if (eq data.characterType "Vampire")}} {{localize "MTA.Dirge"}} {{else if (eq data.characterType "Changeling")}} {{localize "MTA.Thread"}} {{else if (eq data.characterType "Werewolf")}} {{localize "MTA.Bone"}} {{else}} {{localize "MTA.Vice"}} {{/if}} </label> <input name="data.vice" type="text" value="{{data.vice}}" />
          </div>
          <div class="form-line">
            <label> {{localize "MTA.Age"}} </label> <input name="data.age" type="number" data-dtype="Number" value="{{data.age}}" />
          </div>
          <div class="form-line">
            <label> {{localize "MTA.Sex"}} </label> <input name="data.sex" type="text" value="{{data.sex}}" data-koptions="Female/Male"/>
          </div>
          <div class="form-line">
            <label> {{localize "MTA.Faction"}} </label> <input name="data.faction" type="text" value="{{data.faction}}" />
          </div>
          <div class="form-line">
            <label> {{localize "MTA.Aspirations"}} </label>
            <textarea name="data.aspirations" placeholder="Aspirations">{{data.aspirations}}</textarea>
          </div>
        </div>
        {{!-- Relationships --}}
        <table class="item-table">
          <thead>
            <tr class="item-row header">
              <th class="cell header first"> 
                <span class="collapsible button fas fa-minus-square"> </span>
                <span class="sortable button" data-type="relationship">{{localize "MTA.Relationships"}}<i class="fas fa-sort"></i> </span>
              </th>
              {{#each inventory.relationship.dataset}}
                <th class="cell header"> {{this}} </th>
              {{/each}}
              <th class="cell header button item-create" data-type="relationship">{{ localize "MTA.ButtonAdd" }}</th>
            </tr>
          </thead>
          <tbody>
            {{#each inventory.relationship.items as |item iid|}}
              <tr class="item-row item" data-item-id="{{item._id}}">
                <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
                  <div class="item-name-wrapper">
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <span> {{item.name}} </span>
                  </div>
                </td>
                <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.impression}}</td>
                <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.doors.value}} / {{data.doors.max}}</td>
                <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.penalty}}</td>
                <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                  <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="{{ localize 'MTA.EditItem' }}"><i class="fas fa-edit"></i></span>
                  <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <div class="item-stat-block">
          <div class="form-line">
            <label> {{localize "MTA.Notes"}} </label>
            <textarea name="data.notes" placeholder="Notes">{{data.notes}}</textarea>
          </div>
          <div class="form-line">
            <label class="wide"> {{localize "MTA.Description"}} </label>
            <div class="wide editor-container">
              {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </div>
          </div>
        </div>
      </div>


      {{!-- Mage Persona Tab --}}
      <div class="tab magePersona" data-tab="magePersona">
        <div class="item-stat-block">
          <div class="form-line">
            <label>{{localize "MTA.RealName"}}</label> <input name="data.shadowName" type="text" value="{{data.shadowName}}" />
          </div>
          <div class="form-line">
            <label>{{localize "MTA.Path"}}</label> <input name="data.path" type="text" value="{{data.path}}" data-koptions="Acanthus/Mastigos/Moros/Obrimos/Thyrsus"/>
          </div>
          <div class="form-line">
            <label>{{localize "MTA.Order"}}</label> <input name="data.order" type="text" value="{{data.order}}" data-koptions="Adamantine Arrow/Guardians of the Veil/Mysterium/Silver Ladder/Free Council/Apostate/Nameless/--Seers of the Throne--/Hegemony/Panopticon/Paternoster/Praetorian/"/>
          </div>
          <div class="form-line">
            <label>{{localize "MTA.Legacy"}}</label> <input name="data.legacy" type="text" value="{{data.legacy}}" />
          </div>
          <div class="form-line">
            <label>{{localize "MTA.Obsessions"}}</label>
            <textarea name="data.obsessions" placeholder="Obsessions">{{data.obsessions}}</textarea>
          </div>
          <div class="form-line">
            <label>{{localize "MTA.Nimbus"}}</label>
            <textarea name="data.nimbus" placeholder="Nimbus">{{data.nimbus}}</textarea>
          </div>
        </div>
      </div>
      
      {{!-- Vampire Persona Tab --}}
      <div class="tab vampirePersona" data-tab="vampirePersona">
        <div class="item-stat-block">
          <div class="form-line">
            <label>{{localize "MTA.Clan"}}</label> <input name="data.clan" type="text" value="{{data.clan}}" data-koptions="Daeva/Gangrel/Mekhet/Nosferatu/Ventrue"/>
          </div>
          <div class="form-line">
            <label>{{localize "MTA.Bloodline"}}</label> <input name="data.bloodline" type="text" value="{{data.bloodline}}" data-koptions="--Daeva--/Anvari/Children of Judas/Duchagne/Gulikan/Kallisti/Malintzin/Mortifiers of the Flesh/Nelapsi/Spina/The Asnâm/The Carnival/Toreador/Xiao/Zelani/--Gangrel--/Anavashra/Annunaku/Anubi/Barjot/Bohagande/Bruja/Carnon/Childer of the Morrigan/Dead Wolves/Matasuntha/Moroi/Nepheshim/Oberlochs/Taifa/The Mara/Vedma/--Mekhet--/Agonistes/Alucinor/Khaibit/Kuufukuji/Libitinarius/Lynx/Mnemosyne/Morbus/Norvegi/Osites/Players/Qedeshah/Sangiovanni/Tismanu/--Nosferatu--/Acteius/Azerkatil/Baddacelli/Burakumin/Calacas/Galloi/Gethsemani/Noctuku/Rakshasa/Yagnatia/--Ventrue--/Architects of the Monolith/Beni/Bron/Cassian/Deucalion/Dragolescu/Gorgons/Icarian/Licinii/Macellarius/Malkovian/Malocusians/Melissidae/Murrahin/Nahualli/Rötgrafen/Sotoha">
          </div>
          <div class="form-line">
            <label>{{localize "MTA.Covenant"}}</label> <input name="data.covenant" type="text" value="{{data.covenant}}" />
          </div>
          <div class="form-line">
            <label>{{localize "MTA.Rank"}}</label> <input name="data.vamp_rank" type="text" value="{{data.vamp_rank}}" />
          </div>
          <div class="form-line">
            <label>{{localize "MTA.AgeAsVampire"}}</label> <input name="data.vampireAge" type="number" data-dtype="Number" value="{{data.vampireAge}}" />
          </div>
          <div class="form-line">
            <label>{{localize "MTA.Banes"}}</label>
            <textarea name="data.banes" placeholder="Banes">{{data.banes}}</textarea>
          </div>
          <div class="form-line">
            <label class="wide">{{localize "MTA.Touchstones"}}</label>
            {{#each data.touchstones_vampire as |touchstone key|}}
              <label class="{{#if (isActiveVampTouchstone key ../data.vampire_traits.humanity)}} activeTouchstone {{/if}}"> {{convertVampTouchstone key}} </label> <input name="data.touchstones_vampire.{{key}}" type="text" value="{{touchstone}}" />
            {{/each}}
          </div> 
        </div>
        {{!-- Vinculae --}}
        <table class="item-table">
          <tr class="item-row header">
            <th class="cell header first"> 
              <span class="collapsible button fas fa-minus-square"> </span>
              <span class="sortable button" data-type="vinculum">{{localize "MTA.Vinculae"}}<i class="fas fa-sort"></i> </span>
            </th>
            {{#each inventory.vinculum.dataset}}
              <th class="cell header"> {{this}} </th>
            {{/each}}
            <th class="cell header button item-create" data-type="vinculum">{{ localize "MTA.ButtonAdd" }}</th>
          </tr>
          {{#each inventory.vinculum.items as |item iid|}}
            <tr class="item-row item" data-item-id="{{item._id}}">
              <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
                  <div class="item-name-wrapper"> 
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <span> {{item.name}} </span>
                  </div>
                </td>
              <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.stage}}</td>
              <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="{{ localize 'MTA.EditItem' }}"><i class="fas fa-edit"></i></span>
                <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
              </td>
            </tr>
          {{/each}}
        </table>
      </div>
      
      {{!-- Changeling Persona Tab --}}
      <div class="tab changelingPersona" data-tab="changelingPersona">
        <div class="item-stat-block"> 
          <div class="form-line">
            <label>{{localize "MTA.Seeming"}}</label> <input name="data.seeming" type="text" value="{{data.seeming}}" data-koptions="Beast/Darkling/Elemental/Fairest/Ogre/Wizened"/>
          </div>
          <div class="form-line">
            <label>{{localize "MTA.Kith"}}</label> <input name="data.kith" type="text" value="{{data.kith}}" data-koptions="Artist/Bright One/Chatelaine/Gristlegrinder/Helldiver/Hunterheart/Leechfinger/Mirrorskin/Nightsinger/Notary/Playmate/Snowskin"/>
          </div>
          <div class="form-line">
            <label>{{localize "MTA.Court"}}</label> <input name="data.court" type="text" value="{{data.court}}" data-koptions="Spring/Summer/Autumn/Winter"/>
          </div>
          <div class="form-line">
            <label class="wide">{{localize "MTA.Touchstones"}}</label>
            {{#each data.touchstones_changeling as |touchstone key|}}
              <label class="{{#if (isActiveTouchstoneChangeling key ../data.attributes_social.composure.value)}} activeTouchstone {{/if}}"> {{key}} </label> <input name="data.touchstones_changeling.{{key}}" type="text" value="{{touchstone}}" />
            {{/each}}
          </div> 
          <div class="form-line">
            <label>{{localize "MTA.Frailties"}}</label>
            <textarea name="data.frailties" placeholder="Frailties">{{data.frailties}}</textarea>
          </div>
          <div class="form-line">
            <label>{{localize "MTA.Mien"}}</label>
            <textarea name="data.mienDescription" placeholder="Mien description">{{data.mienDescription}}</textarea>
          </div>
          <div class="form-line">
            <label>{{localize "MTA.SeemingBlessing"}}</label>
            <textarea name="data.seemingBlessing" placeholder="Seeming Blessing">{{data.seemingBlessing}}</textarea>
          </div>
          <div class="form-line">
            <label>{{localize "MTA.SeemingCurse"}}</label>
            <textarea name="data.seemingCurse" placeholder="Seeming Curse">{{data.seemingCurse}}</textarea>
          </div>
          <div class="form-line">
            <label>{{localize "MTA.KithBlessing"}}</label>
            <textarea name="data.kithBlessing" placeholder="Kith Blessing">{{data.kithBlessing}}</textarea>
          </div>
        </div>
      </div>
      
      {{!-- Werewolf Persona Tab --}}
      <div class="tab werewolfPersona" data-tab="werewolfPersona">
        <div class="item-stat-block"> 
          <div class="form-line">
            <label>{{localize "MTA.Auspice"}}</label> 
            <input name="data.auspice" type="text" value="{{data.auspice}}" data-koptions="Cahalith/Elodoth/Irraka/Ithaeur/Rahu"/>
          </div>
          <div class="form-line">
            <label>{{localize "MTA.Tribe"}}</label> 
            <input name="data.tribe" type="text" value="{{data.tribe}}" data-koptions="Blood Talons/Bone Shadows/Hunters in Darkness/Iron Masters/Storm Lords/Ghost Wolves/--Pure Tribes--/Fire-Touched/Ivory Claws/Predator Kings/Bale Hounds"/>
          </div>
          <div class="form-line">
            <label>{{localize "MTA.Lodge"}}</label> 
            <input name="data.lodge" type="text" value="{{data.lodge}}" data-koptions="Lodge of the Einherjar/Lodge of the Hundred Days/Lodge of the Hook Hand/Lodge of the Shield/Lodge of the Roman Ritual/The Eaters of the Dead/Lodge of the Chronicle/Lodge of Gargoyles"/>
          </div>
          <div class="form-line">
            <label>{{localize "MTA.FleshTouchstone"}}</label> 
            <input name="data.touchstone_flesh" type="text" value="{{data.touchstone_flesh}}"/>
          </div>
          <div class="form-line">
            <label>{{localize "MTA.SpiritTouchstone"}}</label> 
            <input name="data.touchstone_spirit" type="text" value="{{data.touchstone_spirit}}"/>
          </div>
          <div class="form-line">
            <label>{{localize "MTA.KuruthTriggers"}}</label>
            <textarea name="data.kuruthTriggers" placeholder="Kuruth Triggers (Passive, Common, Specific)">{{data.kuruthTriggers}}</textarea>
          </div>
          <div class="form-line">
            <label>{{localize "MTA.HuntersAspect"}}</label>
            <textarea name="data.hunterAspect" placeholder="Hunter's Aspect">{{data.hunterAspect}}</textarea>
          </div>
          <div class="form-line">
            <label>{{localize "MTA.AuspiceBenefit"}}</label>
            <textarea name="data.auspiceBenefit" placeholder="Auspice Benefit">{{data.auspiceBenefit}}</textarea>
          </div>
        </div>
      </div>
      
    </section>
  </div>
</form>