<div class="attributes-flexrow">
  <ol class="attributes-list">
    <li class="attributes-header flexrow">
      <span class="attribute-key">{{localize "MTA.Discipline"}}</span>
      <span class="attribute-valueHeader">{{localize "MTA.Value"}}</span>
    </li>
    {{#each config.disciplines_common as |cvalue ckey|}}
    {{#with (lookup ../data.disciplines_common [ckey])}}
      <li class="attribute flexrow" data-attribute="{{ckey}}">
        <span>
          <input class="attribute-check" id="disciplines_common{{cvalue}}{{../../actor._id}}" data-attribute="{{ckey}}" data-attributeValue={{value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
          <label class="button attribute-button" for="disciplines_common{{cvalue}}{{../../actor._id}}">{{cvalue}}</label>
        </span>
        <input class="attribute-value" type="number" name="data.disciplines_common.{{ckey}}.value" value={{value}} data-dtype="Number" min="0" max="10" />
      </li>
      {{/with}}
    {{/each}}
  </ol>

  <ol class="attributes-list">
    <li class="attributes-header flexrow">
      <span class="attribute-key">{{localize "MTA.Discipline"}}</span>
      <span class="attribute-valueHeader">{{localize "MTA.Value"}}</span>
    </li>
    {{#each config.disciplines_unique as |cvalue ckey|}}
    {{#with (lookup ../data.disciplines_unique [ckey])}}
      <li class="attribute flexrow" data-attribute="{{ckey}}">
        <span>
          <input class="attribute-check" id="disciplines_unique{{cvalue}}{{../../actor._id}}" data-attribute="{{ckey}}" data-attributeValue={{value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
          <label class="button attribute-button" for="disciplines_unique{{cvalue}}{{../../actor._id}}">{{cvalue}}</label>
        </span>
        <input class="attribute-value" type="number" name="data.disciplines_unique.{{ckey}}.value" value={{value}} data-dtype="Number" min="0" max="10" />
      </li>
      {{/with}}
    {{/each}}
    {{#each data.disciplines_own as |attr key|}}
      <li class="attribute flexrow" data-attribute="{{key}}">
        <span>
          <input class="attribute-check" id="disciplines_own{{attr.label}}{{key}}{{../actor._id}}" data-attribute="{{key}}" data-attributeValue={{attr.value}} data-attributeLabel="{{attr.label}}" type="checkbox" data-dtype="Boolean">
          <label class="button attribute-button" for="disciplines_own{{attr.label}}{{key}}{{../actor._id}}">{{attr.label}}</label>
          <input class="button discipline-name invisible" type="text" name="data.disciplines_own.{{key}}.label" value="{{attr.label}}" />

          <span class="button discipline-edit" data-item-id="{{key}}" title="Edit Discipline"><i class="fas fa-edit"></i></span>
          <span class="button discipline-delete" data-attribute="{{key}}" title="Delete Discipline"><i class="fas fa-times-circle"></i></span>
        </span>
        <input class="attribute-value" type="number" name="data.disciplines_own.{{key}}.value" value={{attr.value}} data-dtype="Number" min="0" max="10" />
      </li>
    {{/each}}
    <li class="button discipline-create">
      {{localize "MTA.ButtonAdd"}}
    </li>
  </ol>
  <div class="flex-col">

    <div class="kInput statBox big">
      <h4>
        <input class="attribute-check" id="bloodPotency{{actor._id}}" data-attribute="bloodPotency" data-attributeLabel="{{localize 'MTA.BloodPotency'}}" data-attributeValue={{data.vampire_traits.bloodPotency}} type="checkbox" data-dtype="Boolean">
        <label class="button attribute-button" for="bloodPotency{{actor._id}}">{{localize "MTA.BloodPotency"}}</label>
      </h4>
      <div class="gold-border"></div>
      <div class="split">
        <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
          <input name="data.vampire_traits.bloodPotency" type="number" value="{{data.vampire_traits.bloodPotency}}" data-dtype="Number">
          <div class="numBtns">
            <div class="plusBtn">+</div>
            <div class="minusBtn">−</div>
          </div>
        </div>
      </div>
    </div>

    <div class="kInput statBox big">
      <h4>
        <div class="button charMacroButton calculate resource tooltip">
          <span class="tooltip-text">{{localize "MTA.TooltipCalcMaxVitae"}}</span>
          <img src="systems/mta/icons/gui/calculate.svg" alt="Calculate max. vitae.">
        </div>
        {{localize "MTA.Vitae"}}
      </h4>
      <div class="gold-border"></div>
      <div class="split">
        <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
          <input name="data.vitae.value" type="number" value="{{data.vitae.value}}" data-dtype="Number">
          <div class="numBtns">
            <div class="plusBtn">+</div>
            <div class="minusBtn">−</div>
          </div>
        </div>
        <span class="delimiter"> / </span>
        <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
          <input name="data.vitae.max" type="number" value="{{data.vitae.max}}" data-dtype="Number">
          <div class="numBtns">
            <div class="plusBtn">+</div>
            <div class="minusBtn">−</div>
          </div>
        </div>
      </div>
      <div class="description">{{vitae_per_turn}} {{localize "MTA.VitaePerTurn"}}</div>
    </div>


  </div>
</div>

<div class="items-block">
  <div class="items-table">
    {{!-- Discipline Powers --}}
    <table class="item-table">
      <thead>
        <tr class="item-row header">
          <th class="cell header first"> 
            <span class="collapsible button fas fa-minus-square"> </span>
            <span class="sortable button" data-type="discipline_power">{{localize "MTA.DisciplinePowers"}}<i class="fas fa-sort"></i> </span>
          </th>
          {{#each inventory.discipline_power.dataset}}
            <th class="cell header"> {{this}} </th>
          {{/each}}
          <th class="cell header"> </th>
          <th class="cell header button item-create" data-type="discipline_power">{{ localize "MTA.ButtonAdd" }}</th>
        </tr>
      </thead>
      <tbody>
        {{#each inventory.discipline_power.items as |item iid|}}
          <tr class="item-row item" data-item-id="{{item._id}}">
            <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
              <div class="item-name-wrapper">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <span> {{item.name}} </span>
              </div>
            </td>
            <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.discipline}} </td>
            <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.level}} </td>
            <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.cost}} </td>
            <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.action}} </td>
            <td class="cell {{#if @last}} lastRow {{/if}}"> 
              <i class="favicon {{#if data.isFavorite}} fas {{else}} far {{/if}} fa-star" title="Favorite" data-item-id="{{item._id}}"></i>
            </td>
            <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
              <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="{{ localize 'MTA.EditItem' }}"><i class="fas fa-edit"></i></span>
              <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{!-- Devotions --}}
    <table class="item-table">
      <thead>
        <tr class="item-row header">
          <th class="cell header first"> 
            <span class="collapsible button fas fa-minus-square"> </span>
            <span class="sortable button" data-type="devotion">{{localize "MTA.Devotions"}}<i class="fas fa-sort"></i> </span>
          </th>
          {{#each inventory.devotion.dataset}}
            <th class="cell header"> {{this}} </th>
          {{/each}}
          <th class="cell header"> </th>
          <th class="cell header button item-create" data-type="devotion">{{ localize "MTA.ButtonAdd" }}</th>
        </tr>
      </thead>
      <tbody>
        {{#each inventory.devotion.items as |item iid|}}
          <tr class="item-row item" data-item-id="{{item._id}}">
            <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
              <div class="item-name-wrapper">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <span> {{item.name}} </span>
              </div>
            </td>
            <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.cost.value}} {{localize "MTA.Vitae"}} {{#if data.cost.perTurn}} (turn) {{/if}} </td>
            <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.action}} </td>
            <td class="cell {{#if @last}} lastRow {{/if}}"> 
              <i class="favicon {{#if data.isFavorite}} fas {{else}} far {{/if}} fa-star" title="Favorite" data-item-id="{{item._id}}"></i>
            </td>
            <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
              <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="{{ localize 'MTA.EditItem' }}"><i class="fas fa-edit"></i></span>
              <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{!-- Rites and Miracles --}}
    <table class="item-table">
      <thead>
        <tr class="item-row header">
          <th class="cell header first"> 
            <span class="collapsible button fas fa-minus-square"> </span>
            <span class="sortable button" data-type="rite">{{localize "MTA.RitesAndMiracles"}}<i class="fas fa-sort"></i> </span>
          </th>
          {{#each inventory.rite.dataset}}
            <th class="cell header"> {{this}} </th>
          {{/each}}
          <th class="cell header"> </th>
          <th class="cell header button item-create" data-type="rite">{{ localize "MTA.ButtonAdd" }}</th>
        </tr>
      </thead>
      <tbody>
        {{#each inventory.rite.items as |item iid|}}
          <tr class="item-row item" data-item-id="{{item._id}}">
            <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
              <div class="item-name-wrapper">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <span> {{item.name}} </span>
              </div>
            </td>
            <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.riteType}} </td>
            <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.targetNumber}} </td>
            <td class="cell {{#if @last}} lastRow {{/if}}"> {{#if data.withstand}} {{data.withstandType}} {{data.withstand}} {{/if}}</td>
            <td class="cell {{#if @last}} lastRow {{/if}}"> 
              <i class="favicon {{#if data.isFavorite}} fas {{else}} far {{/if}} fa-star" title="Favorite" data-item-id="{{item._id}}"></i>
            </td>
            <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
              <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="{{ localize 'MTA.EditItem' }}"><i class="fas fa-edit"></i></span>
              <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>